* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
}

img {
    position: absolute;
    object-position: 50% 50%;
    top: 0;
    right: 0;
    width: 100%;
}

header {
    width: 100%;
    height: 92px;
    
}

nav {
    width: 1500px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    position: fixed;
    left: 5%;
    align-items: center;
    top: 30px;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 25px;
    gap: 2px;
}

.nav-left h2 {
    font-size: 20px;
}

.nav-left i {
    font-size:13px;
}

.nav-middle {
    display: flex;
    gap: 50px;
    width: 800px;
    /* background-color: white; */
    justify-content: flex-end;
    align-items: center;
    margin-right: 36px;

}

.nav-middle ul {
    display: flex;
    gap: 70px;
    list-style: none;
}

.nav-middle a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-middle button {
    width: 157px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.section-left {
    width: 1500px;
    height: 300px;
    position: absolute;
    top: 237px;
    right: 133px;
}

.heading_1 {
    font-size: 56px;
    color: #FFFDF2;
    font-weight: 100;
}

.heading_2 {
    font-size: 56px;
    color: #FFFDF2;
    font-weight: 100;
}

.section-left p {
    font-size: 22px;
    width: 493px;
    color: #FFFDF2;
    margin-top: 10px;
    line-height: 28px;
    margin-left: 2px;
}

.section-left button {
    width: 197px;
    height: 56px;
    border:none;
    border-radius: 38px;
    background-color: #FFFDF2;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-size: 18px;
}

form {
    width: 745px;
    height: 504px;
    position: absolute;
    right: 68px;
    top: 540px;
}

.form-container {
    width: 100%;
    height: 100%;
    background-color: #FFF9AF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.form-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-top h2 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 100;
}

.form-top p {
    text-align: center;
    font-size: 18px;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
   gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input {
    background-color: transparent;
    border: none;
    border: 1px solid black;
    border-radius: 2px;
    width: 200px;
    height: 18px;
}

#rooms {
    width: 200px;
    background-color: transparent;
}

#services {
    background-color: transparent;
}

.form-footer {
    margin-top: 30px;
}

.form-footer button {
    width: 216px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 25px;
}